Repository omgnetwork/optimism-v2, pull requests merged in 2021-12, with the labels that each got.

#197 show more decimals on Earned apy
  .github/workflows/repo-sync.yml
  packages/boba/gateway/src/components/listFarm/listFarm.js
Labels: 2-reviewers, M-ci

#198 Modify DAO to use timestamp on L2
  integration-tests/test/pool_dao_actions.spec.ts
  packages/boba/contracts/contracts/DAO/governance/GovernorBravoDelegate.sol
  packages/boba/contracts/contracts/DAO/governance/GovernorBravoDelegator.sol
  packages/boba/contracts/contracts/DAO/governance/GovernorBravoInterfaces.sol
  packages/boba/contracts/deploy/013-BobaDao.deploy.ts
Labels: M-integration

#207 Update Rinkeby to Grizzly
  packages/boba/register/addresses/addressesRinkeby_0x93A96D6A5beb1F661cf052722A1424CDDA3e9418.json
  packages/contracts/deployments/README.md
  packages/contracts/deployments/rinkeby/BondManager.json
  packages/contracts/deployments/rinkeby/CanonicalTransactionChain.json
  packages/contracts/deployments/rinkeby/ChainStorageContainer-CTC-batches.json
  packages/contracts/deployments/rinkeby/ChainStorageContainer-CTC-queue.json
  packages/contracts/deployments/rinkeby/ChainStorageContainer-SCC-batches.json
  packages/contracts/deployments/rinkeby/StateCommitmentChain.json
  packages/contracts/deployments/rinkeby/solcInputs/3a3f209d08628716512d25b19045a8fa.json
  packages/contracts/deployments/rinkeby/solcInputs/e2bd836b6d067d1d09a901b9c8a379aa.json
Labels: 2-reviewers, M-contracts

#205 DAO: adapt tests to work with all time values
  integration-tests/test/pool_dao_actions.spec.ts
  packages/boba/contracts/contracts/DAO/governance/GovernorBravoDelegate.sol
  packages/boba/contracts/deploy/013-BobaDao.deploy.ts
Labels: M-integration

#210 mrf cleanup unused functions
  packages/boba/message-relayer-fast/src/service.ts
  packages/message-relayer/src/service.ts
Labels: 2-reviewers

#176 Optimism Upstream-race-fix #1785
  l2geth/core/events.go
  l2geth/core/tx_pool.go
  l2geth/miner/worker.go
  l2geth/rollup/sync_service.go
Labels: 2-reviewers, do-not-merge, M-l2geth

#232 Support xBOBA in DAO and L2 LP
  integration-tests/test/mrf_lp.spec.ts
  integration-tests/test/pool_dao_actions.spec.ts
  packages/boba/contracts/contracts/DAO/governance/GovernorBravoDelegate.sol
  packages/boba/contracts/contracts/DAO/governance/GovernorBravoDelegator.sol
  packages/boba/contracts/contracts/DAO/governance/GovernorBravoInterfaces.sol
  packages/boba/contracts/contracts/LP/L2LiquidityPool.sol
  packages/boba/contracts/contracts/libraries/SafeMathDAO.sol
  packages/boba/contracts/deploy/004-L2ERC20.deploy.ts
  packages/boba/contracts/deploy/013-BobaDao.deploy.ts
Labels: M-integration

#231 speed up integration testing add more functionality to up_local
  .github/workflows/integration.yml
  ops/up_local.sh
Labels: 2-reviewers, M-ci, M-ops

#236 reconcile develop and mainnet
  boba_community/fraud-detector/docker-compose-fraud-detector.yml
  ops/envs/geth.env
Labels: 2-reviewers, M-ops

#214 add offset to L2govToken for regenesis provision
  packages/boba/contracts/contracts/standards/L2GovernanceERC20.sol
  patches/@openzeppelin+contracts+4.3.2.patch
Labels: 2-reviewers

#219 Support native L1 and L2 NFTs in NFT bridges
  integration-tests/test/nft_bridge.spec.ts
  packages/boba/contracts/contracts/bridges/L1NFTBridge.sol
  packages/boba/contracts/contracts/bridges/L2NFTBridge.sol
  packages/boba/contracts/contracts/bridges/README.md
  packages/boba/contracts/contracts/bridges/interfaces/iL1NFTBridge.sol
  packages/boba/contracts/contracts/standards/IL1StandardERC721.sol
  packages/boba/contracts/contracts/standards/L1StandardERC721.sol
  packages/boba/register/addresses/addressesRinkeby_0x93A96D6A5beb1F661cf052722A1424CDDA3e9418.json
Labels: M-integration

#230 VA changes to l2geth
  integration-tests/test/rpc.spec.ts
  integration-tests/test/shared/utils.ts
  l2geth/CHANGELOG.md
  l2geth/core/state_transition.go
  l2geth/internal/ethapi/api.go
  l2geth/miner/worker.go
  l2geth/miner/worker_test.go
  l2geth/package.json
  l2geth/rollup/client.go
  l2geth/rollup/sync_service.go
  l2geth/rollup/sync_service_test.go
Labels: 2-reviewers, M-integration, M-l2geth

#238 add boba fixed savings tests
  integration-tests/test/boba_fixed_savings.spec.ts
Labels: M-integration

#239 modify fixed savings with audit updates
  integration-tests/test/boba_fixed_savings.spec.ts
  packages/boba/contracts/contracts/BobaFixedSavings.sol
Labels: M-integration

#242 Deployed NFT bridges and support extra burn in gas oracle
  integration-tests/test/boba_fixed_savings.spec.ts
  ops/docker/Dockerfile.boba_gas-price-oracle
  packages/boba/contracts/contracts/bridges/README.md
  packages/boba/contracts/hardhat.config.ts
  packages/boba/contracts/package.json
  packages/boba/gas-price-oracle/package.json
  packages/boba/gas-price-oracle/src/abi/DiscretionaryExitBurn.json
  packages/boba/gas-price-oracle/src/abi/L1LiquidityPool.json
  packages/boba/gas-price-oracle/src/abi/L1StandardBridge.json
  packages/boba/gas-price-oracle/src/abi/L2LiquidityPool.json
  packages/boba/gas-price-oracle/src/service.ts
  packages/boba/register/addresses/addressesMainnet_0x8376ac6C3f73a25Dd994E0b0669ca7ee0C02F089.json
  packages/boba/register/addresses/addressesRinkeby_0x93A96D6A5beb1F661cf052722A1424CDDA3e9418.json
  yarn.lock
Labels: 2-reviewers, M-ops, M-integration

#218 Fast-relayer-Dec7 fix
  ops/docker-compose.yml
  packages/boba/message-relayer-fast/src/exec/run.ts
  packages/boba/message-relayer-fast/src/service.ts
Labels: 2-reviewers, M-ops
