Repository omgnetwork/optimism-v2, pull requests merged in 2021-10, with the labels that each got.

#16 move message relayer fast into boba optimism v2
  ops/docker-compose.yml
  ops/docker/Dockerfile.boba_message-relayer-fast
  ops/scripts/build-ci.sh
  packages/boba/message-relayer-fast/.env.example
  packages/boba/message-relayer-fast/.prettierrc.json
  packages/boba/message-relayer-fast/README.md
  packages/boba/message-relayer-fast/contracts/L1ERC20.json
  packages/boba/message-relayer-fast/contracts/L1LiquidityPool.json
  packages/boba/message-relayer-fast/contracts/L1Message.json
  packages/boba/message-relayer-fast/contracts/L2LiquidityPool.json
  packages/boba/message-relayer-fast/contracts/L2Message.json
  packages/boba/message-relayer-fast/contracts/TokenPool.json
  packages/boba/message-relayer-fast/deployment/local/addresses.json
  packages/boba/message-relayer-fast/exec/run-message-relayer-fast.js
  packages/boba/message-relayer-fast/hardhat.config.ts
  packages/boba/message-relayer-fast/package.json
  packages/boba/message-relayer-fast/scripts/relayer-fast.sh
  packages/boba/message-relayer-fast/scripts/wait-for-l1-and-l2.sh
  packages/boba/message-relayer-fast/src/exec/run.ts
  packages/boba/message-relayer-fast/src/service.ts
  packages/boba/message-relayer-fast/src/types.ts
  packages/boba/message-relayer-fast/test/a_message.spec.ts
  packages/boba/message-relayer-fast/test/b_lp.spec.ts
  packages/boba/message-relayer-fast/test/shared/env.ts
  packages/boba/message-relayer-fast/test/shared/utils.ts
  packages/boba/message-relayer-fast/test/shared/watcher-utils.ts
  packages/boba/message-relayer-fast/test/shared/watcher.ts
  packages/boba/message-relayer-fast/tsconfig.build.json
  packages/boba/message-relayer-fast/tsconfig.json
  yarn.lock
Labels: 2-reviewers, M-ops

#23 Add batch submitter patch
  packages/batch-submitter/src/batch-submitter/batch-submitter.ts
  packages/batch-submitter/src/batch-submitter/tx-batch-submitter.ts
  packages/batch-submitter/src/transaction-chain-contract.ts
Labels: 2-reviewers, M-batch-submitter

#24 Add dtl and l2geth patches
  l2geth/console/console_test.go
  l2geth/miner/worker.go
  l2geth/rollup/client.go
  l2geth/rollup/fees/bindings/gaspriceoracle_test.go
  l2geth/rollup/sync_service.go
  l2geth/rollup/sync_service_test.go
  packages/data-transport-layer/package.json
  packages/data-transport-layer/src/services/l1-ingestion/handlers/sequencer-batch-appended.ts
  packages/data-transport-layer/src/services/l1-ingestion/service.ts
  packages/data-transport-layer/src/services/main/service.ts
  packages/data-transport-layer/src/services/run.ts
  packages/data-transport-layer/src/services/server/service.ts
  packages/data-transport-layer/src/types/api-types.ts
  packages/data-transport-layer/src/types/event-handler-types.ts
  yarn.lock
Labels: 2-reviewers, do-no-merge, M-l2geth, M-dtl

#27 Update oETH address
  l2geth/rollup/dump/constants.go
  packages/contracts/contracts/libraries/constants/Lib_PredeployAddresses.sol
  packages/contracts/src/predeploys.ts
Labels: 2-reviewers, M-contracts, M-l2geth

#33 Revert l2geth changes
  l2geth/console/console_test.go
  l2geth/miner/worker.go
  l2geth/rollup/client.go
  l2geth/rollup/fees/bindings/gaspriceoracle_test.go
  l2geth/rollup/sync_service.go
  l2geth/rollup/sync_service_test.go
  packages/data-transport-layer/package.json
  packages/data-transport-layer/src/services/l1-ingestion/handlers/sequencer-batch-appended.ts
  packages/data-transport-layer/src/services/l1-ingestion/service.ts
  packages/data-transport-layer/src/services/main/service.ts
  packages/data-transport-layer/src/services/run.ts
  packages/data-transport-layer/src/services/server/service.ts
  packages/data-transport-layer/src/types/api-types.ts
  packages/data-transport-layer/src/types/event-handler-types.ts
  yarn.lock
Labels: 2-reviewers, M-l2geth, M-dtl

#21 Add message relayer patch and enable all tests
  integration-tests/test/mrf_lp.spec.ts
  integration-tests/test/nft_bridge.spec.ts
  integration-tests/test/rpc.spec.ts
  ops/docker-compose.yml
  packages/boba/contracts/contracts/L1CrossDomainMessengerFast.sol
  packages/boba/contracts/contracts/L1MultiMessageRelayer.sol
  packages/boba/message-relayer-fast/contracts/L1ERC20.json
  packages/boba/message-relayer-fast/contracts/L1LiquidityPool.json
  packages/boba/message-relayer-fast/contracts/L1Message.json
  packages/boba/message-relayer-fast/contracts/L2LiquidityPool.json
  packages/boba/message-relayer-fast/contracts/L2Message.json
  packages/boba/message-relayer-fast/contracts/TokenPool.json
  packages/boba/message-relayer-fast/package.json
  packages/boba/message-relayer-fast/src/exec/run.ts
  packages/boba/message-relayer-fast/src/service.ts
  packages/boba/message-relayer-fast/src/types.ts
  packages/contracts/contracts/L1/messaging/L1CrossDomainMessenger.sol
  packages/contracts/deploy/010-OVM_L1MultiMessageRelayer.deploy.ts
  packages/message-relayer/package.json
  packages/message-relayer/src/exec/run.ts
  packages/message-relayer/src/service.ts
  packages/message-relayer/src/types.ts
Labels: 2-reviewers, M-contracts, M-ops, M-integration

#34 Serve addresses and state-dump from DTL instead of deployer.
  .github/workflows/integration.yml
  ops/docker-compose.yml
  ops/docker/Dockerfile.data-transport-layer
  ops/scripts/deployer.sh
  packages/data-transport-layer/package.json
  packages/data-transport-layer/src/services/main/service.ts
  yarn.lock
Labels: 2-reviewers, M-ci, M-ops, M-dtl

#43 add support for testing non-18 decimal tokens
  integration-tests/test/mrf_lp.spec.ts
  packages/boba/contracts/contracts/standards/L2GovernanceERC20.sol
  packages/boba/contracts/contracts/test-helpers/L1ERC20.sol
  packages/boba/contracts/deploy/004-L2ERC20.deploy.ts
  packages/boba/contracts/preSupportedTokens.json
  packages/boba/gateway/src/containers/farm/Farm.js
  packages/boba/gateway/src/services/networkService.js
  packages/contracts/contracts/L2/messaging/L2StandardTokenFactory.sol
  packages/contracts/contracts/L2/predeploys/OVM_ETH.sol
  packages/contracts/contracts/standards/L2StandardERC20.sol
  packages/contracts/test/contracts/L2/messaging/L2StandardBridge.spec.ts
  packages/contracts/test/contracts/L2/messaging/L2StandardTokenFactory.spec.ts
Labels: 2-reviewers, M-contracts, M-integration

#66 Add Rinkeby deployment files
  boba_examples/init-fund-l2/README.md
  packages/boba/gateway/src/deployment/rinkeby/addresses.json
  packages/boba/gateway/src/deployment/rinkeby/addressesV1.json
  packages/contracts/deployments/README.md
  packages/contracts/deployments/rinkeby/.chainId
  packages/contracts/deployments/rinkeby/BondManager.json
  packages/contracts/deployments/rinkeby/CanonicalTransactionChain.json
  packages/contracts/deployments/rinkeby/ChainStorageContainer-CTC-batches.json
  packages/contracts/deployments/rinkeby/ChainStorageContainer-CTC-queue.json
  packages/contracts/deployments/rinkeby/ChainStorageContainer-SCC-batches.json
  packages/contracts/deployments/rinkeby/L1CrossDomainMessenger.json
  packages/contracts/deployments/rinkeby/L1MultiMessageRelayer.json
  packages/contracts/deployments/rinkeby/Lib_AddressManager.json
  packages/contracts/deployments/rinkeby/Proxy__L1CrossDomainMessenger.json
  packages/contracts/deployments/rinkeby/Proxy__L1StandardBridge.json
  packages/contracts/deployments/rinkeby/StateCommitmentChain.json
  packages/contracts/deployments/rinkeby/solcInputs/0a7d1749bad227d8f2f4f3610acec9f8.json
  packages/contracts/deployments/rinkeby/solcInputs/7531d7762a77038a37e7490a7b4b176f.json
  packages/contracts/deployments/rinkeby/solcInputs/bcdc40396fb7eafb000faa9059fb64bd.json
Labels: 2-reviewers, M-contracts

#82 Fix OVM_ETH regenesis bugs
  packages/contracts/src/make-genesis.ts
  packages/regenesis-surgery/scripts/v1-to-v2-surgery.ts
Labels: 2-reviewers, M-contracts
