Repository omgnetwork/optimism-v2, pull requests merged in 2022-01, with the labels that each got.

#248 TURING - Update evm.go - intercept Turing call earlier before first evm.call
  boba_community/fraud-detector/README.md
  boba_community/fraud-detector/fraud-detector.py
  l2geth/core/vm/evm.go
  ops/docker-compose.yml
  ops/docker/Dockerfile.fraud-detector
  ops/up_local.sh
  packages/boba/turing/AWS_code/turing_oracle.py
  packages/boba/turing/contracts/TuringHelper.sol
Labels: 2-reviewers, M-ops, M-l2geth

#249 TURING - enables all examples
  boba_community/fraud-detector/README.md
  boba_community/fraud-detector/fraud-detector.py
  l2geth/core/vm/evm.go
  ops/docker-compose.yml
  ops/docker/Dockerfile.fraud-detector
  ops/up_local.sh
  packages/boba/turing/AWS_code/decode.py
  packages/boba/turing/AWS_code/turing_basicMath.js
  packages/boba/turing/AWS_code/turing_oracle.py
  packages/boba/turing/bobaKitchen/kitchen.py
  packages/boba/turing/bobaKitchen/liquid.py
  packages/boba/turing/bobaKitchen/pearls.py
  packages/boba/turing/classifier/LICENSE
  packages/boba/turing/classifier/README.md
  packages/boba/turing/classifier/app.py
  packages/boba/turing/classifier/architecture.txt
  packages/boba/turing/classifier/notebooks/Cat_v_Dog_Notebook_Training.ipynb
  packages/boba/turing/classifier/offline.py
  packages/boba/turing/classifier/predict.py
  packages/boba/turing/classifier/requirements.txt
  packages/boba/turing/classifier/train.py
  packages/boba/turing/classifier/utils/helpers.py
  packages/boba/turing/contracts/HelloTuring.sol
  packages/boba/turing/contracts/Lending.sol
  packages/boba/turing/contracts/TuringHelper.sol
  packages/boba/turing/contracts/uniswapv2/LICENSE
  packages/boba/turing/contracts/uniswapv2/README.md
  packages/boba/turing/contracts/uniswapv2/UniswapV2ERC20.sol
  packages/boba/turing/contracts/uniswapv2/UniswapV2Factory.sol
  packages/boba/turing/contracts/uniswapv2/UniswapV2Pair.sol
  packages/boba/turing/contracts/uniswapv2/UniswapV2Router02.sol
  packages/boba/turing/contracts/uniswapv2/interfaces/IERC20.sol
  packages/boba/turing/contracts/uniswapv2/interfaces/IUniswapV2Callee.sol
  packages/boba/turing/contracts/uniswapv2/interfaces/IUniswapV2ERC20.sol
  packages/boba/turing/contracts/uniswapv2/interfaces/IUniswapV2Factory.sol
  packages/boba/turing/contracts/uniswapv2/interfaces/IUniswapV2Pair.sol
  packages/boba/turing/contracts/uniswapv2/interfaces/IUniswapV2Router01.sol
  packages/boba/turing/contracts/uniswapv2/interfaces/IUniswapV2Router02.sol
  packages/boba/turing/contracts/uniswapv2/interfaces/IWETH.sol
  packages/boba/turing/contracts/uniswapv2/libraries/Math.sol
  packages/boba/turing/contracts/uniswapv2/libraries/SafeMath.sol
  packages/boba/turing/contracts/uniswapv2/libraries/TransferHelper.sol
  packages/boba/turing/contracts/uniswapv2/libraries/UQ112x112.sol
  packages/boba/turing/contracts/uniswapv2/libraries/UniswapV2Library.sol
  packages/boba/turing/package.json
  packages/boba/turing/paused/001_hello_world.ts
  packages/boba/turing/paused/002_math.ts
  packages/boba/turing/paused/003_stable_swap.ts
  packages/boba/turing/test/002_math.ts
  packages/boba/turing/test/003_stable_swap.ts
  packages/boba/turing/test/004_random_256.ts
  packages/boba/turing/tofix/fee-test.ts
  packages/boba/turing/tofix/hello-test.ts
  packages/boba/turing/tofix/math.ts
  packages/boba/turing/tofix/stable-test.ts
  yarn.lock
Labels: 2-reviewers, M-ops, M-l2geth

#244 Fix gas oracle in local env and assign a new key to it
  integration-tests/test/mrf_lp.spec.ts
  integration-tests/test/nft_bridge.spec.ts
  integration-tests/test/routed_exit_burn.spec.ts
  integration-tests/test/shared/env.ts
  integration-tests/test/shared/utils.ts
  ops/docker-compose.yml
Labels: 2-reviewers, M-ops, M-integration

#255 Apply the recent fast-relayer fixes for missed messages to the classic relayer.
  ops/docker-compose.yml
  packages/message-relayer/src/exec/run.ts
  packages/message-relayer/src/service.ts
Labels: 2-reviewers, M-ops

#262 Small dev fixes
  ops/docker-compose.yml
  ops/docker/Dockerfile.boba_deployer
  ops/envs/batches.env
  ops/envs/dtl.env
  ops/envs/geth.env
Labels: 2-reviewers, M-ops

#265 [QSP-8]feat: add logical xor to avoid user error
  integration-tests/test/mrf_lp.spec.ts
  packages/boba/contracts/contracts/LP/L1LiquidityPool.sol
  packages/boba/contracts/contracts/LP/L2LiquidityPool.sol
Labels: M-integration

#259 add Turing field (type: []byte) to the metadata - experiment only
  integration-tests/test/basic_nft.spec.ts
  integration-tests/test/boba_fixed_savings.spec.ts
  integration-tests/test/mrf_lp.spec.ts
  integration-tests/test/nft_bridge.spec.ts
  integration-tests/test/pool_dao_actions.spec.ts
  integration-tests/test/xBoba.spec.ts
  l2geth/accounts/abi/bind/backends/simulated.go
  l2geth/cmd/geth/retesteth.go
  l2geth/core/evm.go
  l2geth/core/rawdb/accessors_chain_test.go
  l2geth/core/rawdb/accessors_indexes.go
  l2geth/core/rawdb/accessors_indexes_test.go
  l2geth/core/state_prefetcher.go
  l2geth/core/state_processor.go
  l2geth/core/state_transition.go
  l2geth/core/types/block.go
  l2geth/core/types/gen_receipt_json.go
  l2geth/core/types/gen_tx_meta_json.go
  l2geth/core/types/receipt.go
  l2geth/core/types/transaction.go
  l2geth/core/types/transaction_meta.go
  l2geth/core/types/transaction_meta_test.go
  l2geth/core/vm/evm.go
  l2geth/eth/api_tracer.go
  l2geth/eth/tracers/tracers_test.go
  l2geth/interfaces.go
  l2geth/internal/ethapi/api.go
  l2geth/les/odr_test.go
  l2geth/light/odr_test.go
  l2geth/miner/worker.go
  l2geth/rollup/client.go
  l2geth/rollup/sync_service.go
  l2geth/rollup/sync_service_test.go
  l2geth/rpc/client.go
  l2geth/rpc/handler.go
  l2geth/signer/core/types.go
  l2geth/tests/state_test_util.go
  ops/docker-compose.yml
  packages/batch-submitter/src/batch-submitter/tx-batch-submitter.ts
  packages/boba/contracts/deploy/008-NFT.deploy.ts
  packages/boba/contracts/deploy/011-L2ERC721.deploy.ts
  packages/boba/contracts/deploy/013-BobaDao.deploy.ts
  packages/boba/contracts/hardhat.config.ts
  packages/boba/gas-price-oracle/src/service.ts
  packages/boba/turing/test/004_random_256.ts
  packages/contracts/deploy/004-OVM_CanonicalTransactionChain.deploy.ts
  packages/core-utils/src/batches.ts
  packages/core-utils/src/l2context.ts
  packages/data-transport-layer/src/services/l1-ingestion/handlers/sequencer-batch-appended.ts
  packages/data-transport-layer/src/services/l1-ingestion/handlers/transaction-enqueued.ts
  packages/data-transport-layer/src/services/l1-ingestion/service.ts
  packages/data-transport-layer/src/services/l2-ingestion/handlers/transaction.ts
  packages/data-transport-layer/src/services/main/service.ts
  packages/data-transport-layer/src/services/server/service.ts
  packages/data-transport-layer/src/types/database-types.ts
Labels: 2-reviewers, M-contracts, M-ops, M-integration, M-core-utils, M-l2geth, M-batch-submitter, M-dtl

#266 feat: add running depositHash
  packages/boba/contracts/contracts/IL1CrossDomainMessengerFast.sol
  packages/boba/contracts/contracts/IL1DepositHash.sol
  packages/boba/contracts/contracts/L1CrossDomainMessengerFast.sol
  packages/boba/contracts/contracts/L1MultiMessageRelayerFast.sol
  packages/boba/contracts/contracts/LP/L1LiquidityPool.sol
  packages/contracts/contracts/L1/messaging/L1StandardBridge.sol
  packages/contracts/test/contracts/L1/messaging/deposit.gas.spec.ts
Labels: 2-reviewers, M-contracts

#285 [Turing-1] Generate cryptographically strong pseudo-random int between 0 - 2^256…
  l2geth/core/vm/evm.go
  packages/boba/turing/README.md
  packages/boba/turing/contracts/TuringHelper.sol
  packages/boba/turing/test/004_random_256.ts
Labels: 2-reviewers, M-l2geth

#286 [Turing-2] Fix Geth tests
  .github/workflows/integration.yml
  l2geth/core/types/transaction.go
  l2geth/core/types/transaction_meta.go
  l2geth/core/types/transaction_meta_test.go
  l2geth/core/vm/evm.go
  packages/boba/turing/README.md
Labels: 2-reviewers, M-ci, M-l2geth

#291 Turing remove magic
  l2geth/accounts/abi/bind/backends/simulated.go
  l2geth/cmd/geth/retesteth.go
  l2geth/core/state_prefetcher.go
  l2geth/core/state_processor.go
  l2geth/core/state_transition.go
  l2geth/eth/api_tracer.go
  l2geth/internal/ethapi/api.go
  l2geth/miner/worker.go
  packages/batch-submitter/src/batch-submitter/tx-batch-submitter.ts
  packages/data-transport-layer/src/services/l1-ingestion/handlers/sequencer-batch-appended.ts
Labels: 2-reviewers, M-l2geth, M-batch-submitter, M-dtl

#280 Support l1 security fee
  integration-tests/test/native-eth.spec.ts
  integration-tests/test/routed_exit_burn.spec.ts
  packages/boba/gas-price-oracle/README.md
  packages/boba/gas-price-oracle/src/exec/run.ts
  packages/boba/gas-price-oracle/src/service.ts
  packages/boba/gateway/src/components/mainMenu/gasSwitcher/GasSwitcher.js
  packages/boba/gateway/src/services/networkService.js
Labels: enhancement, M-integration

#303 focus contract on turingHelper contract not sender address
  integration-tests/test/boba_turing_credit.spec.ts
  integration-tests/test/mrf_lp.spec.ts
  packages/contracts/contracts/L2/predeploys/BobaTuringCredit.sol
Labels: 2-reviewers, M-contracts, M-integration

#301 add 5 second timeout for rpc calls
  l2geth/core/vm/evm.go
  l2geth/rpc/client.go
Labels: 2-reviewers, M-l2geth

#304 Improve turing credit contract
  integration-tests/test/boba_turing_credit.spec.ts
  ops/docker/Dockerfile.integration-tests
  ops/docker/Dockerfile.monorepo
  packages/boba/turing/contracts/HelloTuring.sol
  packages/boba/turing/contracts/ITuringHelper.sol
  packages/boba/turing/contracts/Lending.sol
  packages/boba/turing/contracts/StableSwap.sol
  packages/boba/turing/contracts/TuringHelper.sol
  packages/boba/turing/hardhat.config.ts
  packages/contracts/contracts/L2/predeploys/BobaTuringCredit.sol
Labels: 2-reviewers, M-contracts, M-ops, M-integration

#281 feat: add Oracle contracts
  integration-tests/test/oracle.spec.ts
  packages/boba/contracts/contracts/oracle/FeedRegistry.sol
  packages/boba/contracts/contracts/oracle/FluxAggregator.sol
  packages/boba/contracts/contracts/oracle/LICENSE
  packages/boba/contracts/contracts/oracle/README.md
  packages/boba/contracts/contracts/oracle/SimplePriceFeedRegistry.sol
  packages/boba/contracts/contracts/oracle/interfaces/AccessControllerInterface.sol
  packages/boba/contracts/contracts/oracle/interfaces/BobaTokenInterface.sol
  packages/boba/contracts/contracts/oracle/interfaces/FeedRegistryInterface.sol
  packages/boba/contracts/deploy/014-FeedRegistry.deploy.ts
  packages/boba/contracts/deploy/015-PriceFeedOracle.deploy.ts
  packages/boba/contracts/deploy/016-Dump.deploy.ts
  packages/boba/contracts/hardhat.config.ts
  packages/boba/contracts/package.json
  yarn.lock
Labels: M-integration

#302 [Fee Scheme OVM 3.0] Add extra l2 gas to cover l1 security fee
  integration-tests/test/fee-payment.spec.ts
  integration-tests/test/native-eth.spec.ts
  l2geth/core/state_transition.go
  l2geth/internal/ethapi/api.go
  l2geth/rollup/fees/rollup_fee.go
  packages/contracts/contracts/L2/predeploys/OVM_GasPriceOracle.sol
  packages/contracts/deploy/004-OVM_CanonicalTransactionChain.deploy.ts
  packages/core-utils/src/fees.ts
Labels: 2-reviewers, M-contracts, M-integration, M-core-utils, M-l2geth

#258 Allow users to bridge multiple assets in one transaction
  integration-tests/test/mrf_lp.spec.ts
  packages/boba/contracts/contracts/LP/L1LiquidityPool.sol
  packages/boba/contracts/contracts/LP/L2LiquidityPool.sol
  packages/boba/contracts/contracts/LP/interfaces/iL2LiquidityPool.sol
  packages/boba/contracts/deploy/014-ExitBurn.deploy.ts
  packages/boba/contracts/deploy/015-BobaSaving.deploy.ts
  packages/boba/gateway/src/actions/balanceAction.js
  packages/boba/gateway/src/containers/modals/deposit/steps/InputStepFast.js
  packages/boba/gateway/src/containers/modals/deposit/steps/InputStepFastETH.js
  packages/boba/gateway/src/deployment/artifacts-boba/contracts/LP/L1LiquidityPool.sol/L1LiquidityPool.json
  packages/boba/gateway/src/reducers/balanceReducer.js
  packages/boba/gateway/src/selectors/balanceSelector.js
  packages/boba/gateway/src/services/networkService.js
Labels: M-integration

#306 Pre-deploy BobaTuringHelper contract
  ops/docker/Dockerfile.boba_deployer
  ops/docker/Dockerfile.deployer
  packages/boba/contracts/bin/deploy.ts
  packages/boba/contracts/deploy/004-L2ERC20.deploy.ts
  packages/boba/contracts/deploy/014-BobaTuring.deploy.ts
  packages/boba/contracts/deploy/015-Dump.deploy.ts
  packages/boba/contracts/package.json
  packages/contracts/contracts/libraries/constants/Lib_PredeployAddresses.sol
  packages/contracts/deploy/000-Lib_AddressManager.deploy.ts
  packages/contracts/package.json
  packages/contracts/src/make-genesis.ts
  packages/contracts/src/predeploys.ts
Labels: 2-reviewers, M-contracts, M-ops

#307 [Turing] Fix lint
  packages/contracts/bin/take-dump.ts
  packages/contracts/package.json
  packages/contracts/src/make-genesis.ts
Labels: 2-reviewers, M-contracts

#298 [Turing-4] Add turing credit contract
  integration-tests/package.json
  integration-tests/test/boba_turing_credit.spec.ts
  integration-tests/test/mrf_lp.spec.ts
  l2geth/cmd/utils/flags.go
  l2geth/common/big.go
  l2geth/core/state/statedb.go
  l2geth/core/vm/evm.go
  l2geth/core/vm/interface.go
  l2geth/internal/ethapi/api.go
  l2geth/rollup/dump/constants.go
  l2geth/rollup/rcfg/config.go
  ops/docker-compose.yml
  ops/docker/Dockerfile.boba_deployer
  ops/docker/Dockerfile.deployer
  ops/docker/Dockerfile.integration-tests
  ops/docker/Dockerfile.monorepo
  packages/boba/contracts/bin/deploy.ts
  packages/boba/contracts/deploy/014-BobaTuring.deploy.ts
  packages/boba/contracts/deploy/015-Dump.deploy.ts
  packages/boba/contracts/package.json
  packages/boba/turing/contracts/HelloTuring.sol
  packages/boba/turing/contracts/ITuringHelper.sol
  packages/boba/turing/contracts/Lending.sol
  packages/boba/turing/contracts/StableSwap.sol
  packages/boba/turing/contracts/TuringHelper.sol
  packages/boba/turing/hardhat.config.ts
  packages/boba/turing/test/002_math.ts
  packages/boba/turing/test/003_stable_swap.ts
  packages/boba/turing/test/004_random_256.ts
  packages/boba/turing/test/005_lending.ts
  packages/contracts/bin/take-dump.ts
  packages/contracts/contracts/L2/predeploys/BobaTuringCredit.sol
  packages/contracts/contracts/libraries/constants/Lib_PredeployAddresses.sol
  packages/contracts/contracts/libraries/resolver/Lib_ResolvedDelegateBobaProxy.sol
  packages/contracts/deploy/000-Lib_AddressManager.deploy.ts
  packages/contracts/package.json
  packages/contracts/src/make-genesis.ts
  packages/contracts/src/predeploys.ts
  packages/core-utils/src/l2context.ts
  packages/data-transport-layer/src/services/l1-ingestion/handlers/sequencer-batch-appended.ts
Labels: 2-reviewers, M-contracts, M-ops, M-integration, M-core-utils, M-l2geth, M-dtl

#311 Add owner key in storage
  packages/contracts/src/make-genesis.ts
Labels: 2-reviewers, M-contracts

#320 Inomurko/url to safe
  .github/workflows/integration.yml
  ops/scripts/build-ci.sh
  packages/boba/gateway/src/components/icons/SafeIcon.js
  packages/boba/gateway/src/components/mainMenu/menuItems.js
  packages/boba/gateway/src/components/mainMenu/menuItems/MenuItems.js
Labels: 2-reviewers, M-ci, M-ops

#324 Update LP contracts on Mainnet
  packages/boba/gateway/src/components/mainMenu/gasSwitcher/GasSwitcher.js
  packages/boba/gateway/src/components/walletpicker/WalletPicker.js
  packages/boba/gateway/src/util/masterConfig.js
  packages/boba/register/addresses/addressesMainnet_0x8376ac6C3f73a25Dd994E0b0669ca7ee0C02F089.json
  packages/contracts/hardhat.config.ts
Labels: 2-reviewers, M-contracts

#322 Boba contracts unit tests
  .github/workflows/boba-contracts-unit.yml
  integration-tests/test/nft_bridge.spec.ts
  packages/boba/contracts/contracts/bridges/L1NFTBridge.sol
  packages/boba/contracts/deploy/014-BobaTuring.deploy.ts
  packages/boba/contracts/deploy/014-ExitBurn.deploy.ts
  packages/boba/contracts/deploy/015-BobaSaving.deploy.ts
  packages/boba/contracts/package.json
  packages/boba/contracts/test/contracts/bridges/l1nftbridge.spec.ts
  packages/boba/contracts/test/setup.ts
  packages/boba/contracts/tsconfig.json
Labels: 2-reviewers, M-ci, M-integration

#327 Support multiple assets bridge in api watcher
  .eslintrc.js
  ops/docker-compose.yml
  ops/docker/Dockerfile.monitor
  ops/scripts/build-ci.sh
  ops/up_local.sh
  ops_boba/api/watcher-api/watcher_getL1Transactions.py
  ops_boba/monitor/Dockerfile
  ops_boba/monitor/docker-compose.yml
  ops_boba/monitor/package.json
  ops_boba/monitor/scripts/copyArtifacts.sh
  ops_boba/monitor/services/database.service.js
  ops_boba/monitor/services/l1BridgeMonitor.js
  ops_boba/monitor/services/stateRootMonitor.js
  ops_boba/monitor/services/utilities/optimismEnv.js
  package.json
  packages/boba/gateway/src/containers/transactions/Deposits.js
  packages/boba/gateway/src/reducers/transactionReducer.js
  yarn.lock
Labels: 2-reviewers, M-ops
