Repository omgnetwork/optimism-v2, pull requests merged in 2022-02, with the labels that each got.

#343 Update println to log.Debug
  l2geth/core/types/transaction_meta.go
Labels: 2-reviewers, M-l2geth

#347 [Integration Test] Add turing credit tests for a special case
  integration-tests/contracts/ITuringHelper.sol
  integration-tests/contracts/TuringTest.sol
  integration-tests/test/boba_turing_credit.spec.ts
Labels: M-integration

#366 Update evm.go
  l2geth/core/vm/evm.go
Labels: 2-reviewers, M-l2geth

#375 [Boba Replica Node] Fix replica script for boba community
  boba_community/boba-node/docker-compose-replica.yml
  packages/data-transport-layer/src/services/main/service.ts
Labels: 2-reviewers, M-dtl

#330 Turing cache
  l2geth/core/error.go
  l2geth/core/state_processor.go
  l2geth/core/state_transition.go
  l2geth/core/vm/errors.go
  l2geth/core/vm/evm.go
  l2geth/core/vm/instructions.go
  l2geth/internal/ethapi/api.go
  l2geth/miner/worker.go
  l2geth/rollup/sync_service.go
  packages/boba/turing/contracts/TuringHelper.sol
  packages/boba/turing/test/002_math.ts
  packages/boba/turing/test/003_stable_swap.ts
  packages/boba/turing/test/005_lending.ts
Labels: 2-reviewers, M-l2geth

#376 re-enable replica/verifier/fraud-prover
  l2geth/scripts/start.sh
  ops/docker-compose.yml
Labels: 2-reviewers, M-ops, M-l2geth

#348 [Integration Test] Add state root verification in integration tests
  integration-tests/test/shared/env.ts
  integration-tests/test/state-root-verification.spec.ts
Labels: M-integration

#380 Fix verifier
  ops/docker-compose.yml
Labels: 2-reviewers, M-ops

#382 [DTL] Add CTC deployment height in dtl
  ops/docker-compose.yml
  packages/data-transport-layer/src/services/l1-ingestion/service.ts
  packages/data-transport-layer/src/services/main/service.ts
  packages/data-transport-layer/src/services/run.ts
Labels: 2-reviewers, M-ops, M-dtl

#384 enable all tests
  integration-tests/package.json
  integration-tests/sync-tests/1-sync-verifier.spec.ts
  integration-tests/test/contracts.spec.ts
  integration-tests/test/replica.spec.ts
  integration-tests/test/stress-tests.spec.ts
  ops/docker-compose.yml
  yarn.lock
Labels: 2-reviewers, M-ops, M-integration

#387 Make a test transaction periodically
  ops/docker/Dockerfile.monitor
  ops_boba/monitor/README.md
  ops_boba/monitor/exec/run-monitor.js
  ops_boba/monitor/services/periodicTransaction.js
  ops_boba/monitor/services/utilities/configs.js
Labels: 2-reviewers, M-ops

#383 DTL and L2Geth fixes
  l2geth/core/vm/instructions.go
  l2geth/rollup/rcfg/config.go
  ops/docker-compose.yml
  packages/data-transport-layer/src/services/l1-ingestion/handlers/sequencer-batch-appended.ts
  packages/message-relayer/src/relay-tx.ts
Labels: 2-reviewers, M-ops, M-l2geth, M-dtl

#396 Add security alert in l2geth
  l2geth/Makefile
  l2geth/rollup/rcfg/config.go
Labels: 2-reviewers, M-l2geth

#405 [Geth] Fix msg.sender in turing
  l2geth/internal/ethapi/api.go
Labels: 2-reviewers, M-l2geth

#401 [Community Replica] Update images for community replica
  .github/workflows/boba-publish-master.yml
  boba_community/boba-node/docker-compose-replica.yml
  boba_community/boba-node/docker/Dockerfile.data-transport-layer
Labels: 2-reviewers, M-ci

#403 [DTL] Clean dtl logs
  packages/data-transport-layer/src/services/l1-ingestion/handlers/sequencer-batch-appended.ts
Labels: 2-reviewers, M-dtl

#407 reduce the upstream diff
  l2geth/CHANGELOG.md
  l2geth/Makefile
  l2geth/README.md
  l2geth/accounts/abi/abi.go
  l2geth/accounts/abi/bind/bind_test.go
  l2geth/build/update-license.go
  l2geth/cmd/faucet/faucet.go
  l2geth/cmd/geth/accountcmd_test.go
  l2geth/cmd/geth/chaincmd.go
  l2geth/contracts/checkpointoracle/oracle_test.go
  l2geth/core/blockchain_test.go
  l2geth/core/genesis_test.go
  l2geth/core/state/statedb.go
  l2geth/core/state/statedb_test.go
  l2geth/core/vm/instructions.go
  l2geth/eth/handler_test.go
  l2geth/eth/tracers/tracers_test.go
  l2geth/les/handler_test.go
  l2geth/les/odr_test.go
  l2geth/les/request_test.go
  l2geth/les/sync_test.go
  l2geth/light/odr_test.go
  l2geth/miner/worker.go
  l2geth/mobile/types.go
  l2geth/node/config_test.go
  l2geth/package.json
  l2geth/params/config.go
  l2geth/rollup/rcfg/config.go
  l2geth/rollup/sync_service.go
  l2geth/tests/block_test.go
  l2geth/tests/state_test.go
  l2geth/tests/transaction_test.go
Labels: 2-reviewers, M-l2geth

#408 disable cache
  boba_documentation/Community_Verifier.md
  boba_documentation/Developing_on_Windows.md
  boba_documentation/Frontend_Development.md
  boba_documentation/Readme.md
  boba_documentation/Service_maintenance.md
  boba_examples/boba-straw/README.md
  boba_examples/truffle-erc20/README.md
  l2geth/core/state_processor.go
  l2geth/core/state_transition.go
  l2geth/core/types/transaction_meta.go
  l2geth/core/vm/evm.go
  l2geth/core/vm/instructions.go
  l2geth/internal/ethapi/api.go
  l2geth/miner/worker.go
  l2geth/rollup/sync_service.go
  packages/boba/gateway/public/index.html
  packages/boba/gateway/public/manifest.json
  packages/boba/turing/test.js
  packages/boba/turing/test/003_stable_swap.ts
  packages/boba/turing/test/005_lending.ts
  packages/data-transport-layer/src/client/client.ts
Labels: 2-reviewers, M-l2geth, M-dtl

#381 [ops] Enable RPC forward
  integration-tests/test/rpc.spec.ts
  ops/docker-compose-side.yml
Labels: 2-reviewers, M-ops, M-integration

#386 Add more packages in builder
  ops/docker/Dockerfile.monorepo
Labels: 2-reviewers, M-ops

#411 Add SEQUENCER_CLIENT_HTTP
  ops/docker-compose.yml
Labels: 2-reviewers, M-ops

#415 Fix a rare case for message relayers
  packages/boba/message-relayer-fast/src/service.ts
  packages/message-relayer/src/service.ts
Labels: 2-reviewers

#416 Remove the logic of checking the timestamp from CTC in batch submitter
  packages/batch-submitter/src/batch-submitter/batch-submitter.ts
  packages/batch-submitter/src/batch-submitter/tx-batch-submitter.ts
Labels: 2-reviewers, M-batch-submitter

#419 Inomurko/state dump berlin
  integration-tests/contracts/Precompiles.sol
  integration-tests/contracts/SelfDestruction.sol
  integration-tests/test/hardfork.spec.ts
  packages/contracts/bin/take-dump.ts
  packages/contracts/src/make-genesis.ts
Labels: 2-reviewers, M-contracts, M-integration

#417 Re-enable Turing cache
  l2geth/core/vm/evm.go
  packages/boba/turing/contracts/HelloTuring.sol
  packages/boba/turing/test/002_math.ts
  packages/boba/turing/test/003_stable_swap.ts
  packages/boba/turing/test/005_lending.ts
Labels: 2-reviewers, M-l2geth

#422 [L2Geth] Add Boba gas fee hard fork
  l2geth/core/state_transition.go
  l2geth/internal/ethapi/api.go
  l2geth/params/config.go
Labels: 2-reviewers, M-l2geth

#426 Add turing batch submitter
  go/batch-submitter/drivers/sequencer/batch.go
  integration-tests/README.md
  integration-tests/test/erc20bridge.spec.ts
  integration-tests/test/erc20turing.spec.ts
  integration-tests/test/hardfork.spec.ts
  integration-tests/test/shared/utils.ts
  l2geth/core/types/transaction.go
  packages/data-transport-layer/src/services/l1-ingestion/handlers/sequencer-batch-appended.ts
  packages/data-transport-layer/src/services/l2-ingestion/handlers/transaction.ts
  packages/data-transport-layer/src/types/database-types.ts
Labels: 2-reviewers, M-integration, M-l2geth, M-dtl

#429 Turing cache cleanup + fixes
  l2geth/core/error.go
  l2geth/core/state_processor.go
  l2geth/core/state_transition.go
  l2geth/core/vm/errors.go
  l2geth/core/vm/evm.go
  l2geth/core/vm/instructions.go
  l2geth/internal/ethapi/api.go
  l2geth/miner/worker.go
  l2geth/rollup/sync_service.go
  packages/boba/turing/test/002_math.ts
Labels: 2-reviewers, M-l2geth

#432 fraud-detector-threaded
  boba_community/fraud-detector/docker/Dockerfile.fraud-detector
  boba_community/fraud-detector/fraud-detector.py
  ops/docker/Dockerfile.fraud-detector
Labels: 2-reviewers, M-ops

#431 Support Wagmi_v1
  packages/boba/gateway/public/favicon.png
  packages/boba/gateway/public/favicon.svg
  packages/boba/gateway/public/favicon_3x.png
  packages/boba/gateway/public/favison_2x.png
  packages/boba/gateway/src/actions/networkAction.js
  packages/boba/gateway/src/actions/tokenAction.js
  packages/boba/gateway/src/components/copy/Copy.js
  packages/boba/gateway/src/components/input/Input.styles.js
  packages/boba/gateway/src/components/mainMenu/MainMenu.js
  packages/boba/gateway/src/components/mainMenu/gasSwitcher/GasSwitcher.js
  packages/boba/gateway/src/components/mainMenu/layerSwitcher/LayerSwitcher.js
  packages/boba/gateway/src/components/pageFooter/PageFooter.js
  packages/boba/gateway/src/components/pageFooter/PageFooter.styles.js
  packages/boba/gateway/src/components/pageHeader/PageHeader.js
  packages/boba/gateway/src/containers/airdrop/Airdrop.js
  packages/boba/gateway/src/containers/farm/Farm.js
  packages/boba/gateway/src/containers/save/Save.js
  packages/boba/gateway/src/containers/save/Save.styles.js
  packages/boba/gateway/src/containers/transactions/History.js
  packages/boba/gateway/src/containers/transactions/Transactions.js
  packages/boba/gateway/src/containers/wallet/Wallet.js
  packages/boba/gateway/src/containers/wallet/nft/Nft.js
  packages/boba/gateway/src/containers/wallet/nft/Nft.styles.js
  packages/boba/gateway/src/containers/wallet/token/Token.js
  packages/boba/gateway/src/containers/wallet/token/Token.styles.js
  packages/boba/gateway/src/containers/wallet/token/tokenList/TokenList.js
  packages/boba/gateway/src/images/wagmiv1.png
  packages/boba/gateway/src/services/networkService.js
  packages/boba/gateway/src/util/coinImage.js
Labels: 2-reviewers, M-ops
